<%- include('../../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

  <%- include('../../../partials/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('../../../partials/navbar.ejs') %>
      <p class="halo" id="boarding-status" hidden value="<%= booking.boarding.boarding_status %>"></p>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../../partials/alert.ejs') %>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Status</h1>
        <!-- End Heading -->
        <div class="progress-wrapper">
          <div id="progress-bar-container">
            <div class="stepper">
              <div
                class="step <%= booking.boarding.boarding_status === "Registrasi" ? 'active' : '' %> <%= booking.boarding.boarding_status === "Mendaki" || "Selesai"  ? 'completed' : '' %>">
                <div class="step-label"></div>
                <div class="step-description">Mulai Mendaki</div>
              </div>
              <div
                class="step <%= booking.boarding.boarding_status === "Mendaki" ? 'active' : '' %> <%= booking.boarding.boarding_status === "Selesai" ? 'completed' : '' %>">
                <div class="step-label"></div>
                <div class="step-description">Mendaki</div>
              </div>
              <div
                class="step <%= booking.boarding.boarding_status === "Selesai" ? 'completed' : '' %> <%= booking.boarding.boarding_status === "Selesai" ? 'completed' : '' %>">
                <div class="step-label"></div>
                <div class="step-description">Selesai Mendaki</div>
              </div>

            </div>
            <!-- progress-bar-container -->
            <div id="progress-content-section d-block" class="halo" value="<%= booking.boarding.boarding_status %>">

              <div
                class="section-content step1 <% if (booking.boarding.boarding_status === "Registrasi" || "Mendaki") { %>active<% } %> d-block">
                <div id="reader"
                  class="<% if (booking.boarding.boarding_status === "Registrasi" || "Mendaki") { %>d-block<% } else { %>d-none<% } %>">
                </div>
                <div id="result"></div>
              </div>
            </div>


          </div>
          <!-- progress-wrapper -->
        </div>



      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../../partials/footer.ejs') %>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<script>
  const haloElement = document.querySelector('.halo');
  const readerElement = document.getElementById('reader');

  // Set nilai atribut "value" dengan hasil ekspresi EJS
  haloElement.setAttribute('value', '<%= booking.boarding.boarding_status %>');

  // Ambil nilai dari atribut "value" yang baru diatur
  const getHalo = haloElement.getAttribute('value');

  const scanner = new Html5QrcodeScanner('reader', {
    qrbox: {
      width: 250,
      height: 250,
    },
    fps: 20,
  });

  // Fungsi untuk mengaktifkan atau menonaktifkan pemindai QR code
  function toggleQRCodeScanning(active) {
    if (active) {
      // Aktifkan pemindai QR code
      readerElement.style.display = 'block';
      scanner.render(success);
    } else {
      // Nonaktifkan pemindai QR code
      readerElement.style.display = 'none';
      scanner.clear();
    }
  }

  // Logika untuk menentukan kapan pemindai QR code harus aktif
  if (getHalo === "Registrasi") {
    // Aktifkan pemindai QR code saat posisi Registrasi
    toggleQRCodeScanning(true);
  } else if (getHalo === "Mendaki") {
    // Nonaktifkan pemindai QR code untuk posisi lain
    toggleQRCodeScanning(true);
  } else {
    toggleQRCodeScanning(false);

  }
  console.log(result)
  function success(result) {
    if (result !== null) {
      // Buat objek yang akan dikirim sebagai data POST
      const postData = {
        idScan: result
      };

      // Konversi objek menjadi JSON
      const postDataJSON = JSON.stringify(postData);

      // Buat permintaan HTTP POST ke server
      fetch('/admin/status/scan-qr', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: postDataJSON
        })
        .then(response => {
          if (response.ok) {

            window.location.href = '/admin/status';

            // Bersihkan pemindai jika diperlukan
            scanner.clear();
          } else {
            response.text().then(errorMsg => {
              console.error("Server Error:", errorMsg);
              document.getElementById('result').innerHTML = `
                <h2>Error: ${errorMsg}</h2>
              `;
            });
          }
        })
        .catch(error => {
          console.error("Error sending POST request:", error);
          // Handle error jika terjadi kesalahan saat mengirim permintaan
          document.getElementById('result').innerHTML = `
          <h2>Error: Failed to send data to server because route</h2>
        `;
        });
    } else {
      // Handle kasus ketika hasilnya null (misalnya, tampilkan pesan kesalahan)
      document.getElementById('result').innerHTML = `
        <h2>Error: Result is null</h2>
      `;
    }
  }
</script>


